body {
    font-family: Arial, Helvetica, sans-serif;
}

.widget-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.widget {
    height: 150px;
    flex: 0 0 40%;
    position: relative;

    margin: 0.5em;
    text-align: center;
    vertical-align: middle;

    border: 1px solid goldenrod;
    border-radius: 20%;

    background-color: lightgray;
}

.widget:hover {
    background-color: gray;
}

.widget a {
    display: block;
    color: goldenrod;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.widget-container img {
    border-radius: 10px;
    height: 150px;
    display: inline-block;
    position: absolute;
    left: auto;
    top: 100px;
}

section:hover {
    background-color: lightblue;
}

#form-ajout-info textarea {
    width: 100%;
}

@media (max-width: 500px) {
    .widget {
        height: 75px;
        flex: 0 0 100%;
    }

    .widget-container img {
        display: none;
    }

    button {
        margin: auto;
    }

    .form-elem>* {
        display: block;
    }
    .form-elem {
        display: flex;
        flex-direction: column;
    }
}
