nav ul li:nth-child(3) a {
    background-color: #2191fb;
    color : white;
    
}

table {
    border-collapse: collapse;
}

td {
    border-top: 1px solid #444444;
    padding: 2em;
}

th {
    background-color: #DDDDDD;}

tr:nth-child(even) {
    background-color: #EEEEEE;
}

tr:hover {
    background-color: #d6ebfe; /*light blue */
    transition: .5s ease-in-out;
}

img {
    width: 200px;
    border-radius: 50px;
}
