nav ul li:nth-child(3) a {
    background-color: #2191fb;
    color : white;   
}

.creat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
}

.creat-container:hover {
    background-color: #d6ebfe; /*light blue */
    transition: .5s ease-in-out;
}

img {
    width: 100px;
    border-radius: 50px;
}


@media (min-width: 576px) { 
    img {
        width: 100px;
        border-radius: 50px;
    }
}

@media (min-width: 768px) { 
    img {
        width: 150px;
        border-radius: 50px;
    }
 }

@media (min-width: 992px) { 
    img {
        width: 200px;
        border-radius: 50px;
    }
 }