body {
    font-family: 'Exo', cursive;
    color: #666666; /* gris foncé */
    letter-spacing: 0.1em;
    padding-left: 10%;
    padding-right: 10%;
}

a {
    text-decoration: none;
    color : #666666; /* gris foncé */
}

nav {
    margin-top: 2em;
    margin-bottom: 2em;

    background-color: white;
    position: sticky;
    top: 0;
    z-index: 6;
}

nav ul {
    display : flex;
    flex-direction: row;

    padding: 0;
    list-style: none;
    padding : none;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
    transition: .5s ease-in-out;
}

nav ul li:hover a {
    text-shadow: 1px 1px 2px grey;
    transition : .3s ease-in-out;

}

nav ul li a {
    display : block ;
    padding : 1em;
    color : #2191fb; /* bleu */
}

h2 {
    letter-spacing: 0.3em;
    font-size: 1.5em;
    transition: .3s ease-in-out;
}

h2:hover a {
    transition: .3s ease-in-out;
    color : #BBBBBB;
}

.cap {
    font-weight: bolder;
    font-size: 1.1em;
    color: #444444; /* gris plus foncé */
}

/* Le déroulant dans les menus */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #d6ebfe;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
